*{
    margin: 0;
}

#main{
    display: grid;
    width: 1550px;
    height: 900px;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

img {
    width: 100%;
    height: 100%;
}


#div1{
    grid-column: 1/ span 3;
    grid-row: 1/ span 1;
}

#div2{
    grid-column: 1/ span 3;
    grid-row: 2/ span 1;
}

#div3{
    grid-column: 4/ span 1;
    grid-row: 1/ span 2;
}

#div4{
    grid-column: 5/ span 2;
    grid-row: 1/ span 2;
}

#div5{
    grid-column: 7/span 2;
    grid-row: 1/span 2;
}

#div6{
    grid-column: 9/span 4;
    grid-row: 1/ span 1;
}

#div7{
    grid-column: 9/span 2;
    grid-row: 2/ span 1;
}

#div8{
    grid-column: 11/span 2;
    grid-row: 2/ span 1;
}

#div9{
    grid-column: 13/span 2;
    grid-row: 1/span 2;
}

#div10{
    grid-column: 15/span 4;
    grid-row: 1/span 2;
}

#div11{
    grid-column: 1/span 1;
    grid-row: 3/span 3;
}

#div12{
    grid-column: 2/span 3;
    grid-row: 3/span 2;
}

#div13{
    grid-column: 2/span 3;
    grid-row: 5/span 1;
}

#div14{
    grid-column: 5/span 4;
    grid-row: 3/span 1;
}

#div15{
    grid-column: 5/span 4;
    grid-row: 4/span 2;
}

#div16{
    grid-column: 9/span 6;
    grid-row: 3/span 2;
}

#div17{
    grid-column: 15/span 2;
    grid-row: 3/span 1;
}

#div18{
    grid-column: 17/span 2;
    grid-row: 3/span 1;
}

#div19{
    grid-column: 15/span 4;
    grid-row: 4/span 1;
}

#div20{
    grid-column: 9/span 2;
    grid-row: 5/span 1;
}

#div21{
    grid-column: 11/span 2;
    grid-row: 5/span 1;
}

#div22{
    grid-column: 13/span 2;
    grid-row: 5/span 3;
}

#div23{
    grid-column: 15/span 4;
    grid-row: 5/span 2;
}

#div24{
    grid-column: 1/span 2;
    grid-row: 6/span 2;
}

#div25{
    grid-column: 3/span 2;
    grid-row: 6/span 2;
}

#div26{
    grid-column: 1/span 4;
    grid-row: 8/span 1;
}

#div27{
    grid-column: 5/span 4;
    grid-row: 6/span 1;
}

#div28{
    grid-column: 5/span 2;
    grid-row: 7/span 2;
}

#div29{
    grid-column: 7/span 2;
    grid-row: 7/span 2;
}

#div30{
    grid-column: 9/span 4;
    grid-row: 6/span 2;
}

#div31{
    grid-column: 9/span 6;
    grid-row: 8/span 1;
}

#div32{
    grid-column: 15/span 2;
    grid-row: 7/span 3;
}

#div33{
    grid-column: 17/span 2;
    grid-row: 7/span 3;
}

#div34{
    grid-column: 1/span 3;
    grid-row: 9/span 2;
}

#div35{
    grid-column: 1/span 3;
    grid-row: 11/span 1;
}

#div36{
    grid-column: 4/span 1;
    grid-row: 9/span 3;
}

#div37{
    grid-column: 5/span 4;
    grid-row: 9/span 2;
}

#div38{
    grid-column: 5/span 4;
    grid-row: 11/span 1;
}

#div39{
    grid-column: 9/span 2;
    grid-row: 9/span 3;
}

#div40{
    grid-column: 11/span 4;
    grid-row: 9/span 2;
}

#div41{
    grid-column: 11/span 2;
    grid-row: 11/span 1;
}

#div42{
    grid-column: 13/span 2;
    grid-row: 11/span 1;
}

#div43{
    grid-column: 15/span 4;
    grid-row: 10/span 1;
}

#div44{
    grid-column: 15/span 4;
    grid-row: 11/span 1;
}
