*{
    margin: 0;
}

#main{
    display: grid;
    width: 1433px;
    height: 770px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(11, 1fr);
}

img {
    width: 100%;
    height: 100%;
}

.pictures{
    width: 100%;
    height: 100%;
    background-color: brown;
    border: 1px solid green;
    font-size: 3em;
    text-align: center;
}

#div1{

}

#div2{

}

#div3{

}

#div4{

}

#div5{

}

#div6{

}

#div7{

}

#div8{

}

#div9{

}

#div10{

}

#div11{
}

#div12{

}

#div13{

}

#div14{

}

#div15{

}

#div16{
    
}

#div17{
    
}

#div18{

}

#div19{

}

#div20{

}

#div21{

}

#div22{

}

#div23{

}

#div24{

}

#div25{

}